@model Ciclope.Models.DocDMR

@{
    ViewData["Title"] = "Editar DMR AT";
}


<style>
    .form-control {
        width: 250px;
    }

    .col {
        flex-grow: 0;
    }
</style>

<div class="row h-100">
    <partial name="_DisplaySideMenuPartial" for="IdEmpresa" />
    <div class="col-md-10 row h-100 justify-content-center align-items-center">
        <form asp-action="Edit" enctype="multipart/form-data">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdEmpresa" />
            <input type="hidden" asp-for="LocalFicheiro" />
            <div class="form-group row">
                <div class="col">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Morada" class="control-label"></label>
                    <input asp-for="Morada" class="form-control" />
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Localidade" class="control-label"></label>
                    <input asp-for="Localidade" class="form-control" />
                    <span asp-validation-for="Localidade" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CodigoPostal" class="control-label"></label>
                    <input asp-for="CodigoPostal" class="form-control" />
                    <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label asp-for="Periodo" class="control-label"></label>
                    <input asp-for="Periodo" class="form-control" />
                    <span asp-validation-for="Periodo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="IdDeclaracao" class="control-label"></label>
                    <input asp-for="IdDeclaracao" class="form-control" />
                    <span asp-validation-for="IdDeclaracao" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="DataRececaoDeclaracao" class="control-label"></label>
                    <input asp-for="DataRececaoDeclaracao" class="form-control" />
                    <span asp-validation-for="DataRececaoDeclaracao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label asp-for="ReferenciaPagamento" class="control-label"></label>
                    <input asp-for="ReferenciaPagamento" class="form-control" style="width: 530px;" />
                    <span asp-validation-for="ReferenciaPagamento" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="ImportanciaPagar" class="control-label"></label>
                    <input asp-for="ImportanciaPagar" class="form-control" />
                    <span asp-validation-for="ImportanciaPagar" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label asp-for="LinhaOptica" class="control-label"></label>
                    <input asp-for="LinhaOptica" class="form-control" style="width: 810px;" />
                    <span asp-validation-for="LinhaOptica" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="control-label">Comprovativo</label>
                    <input type="file" name="files" id="uploadBox" class="form-control" style="height: 44px" />
                    <span asp-validation-for="LocalDeclaracao" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <a asp-action="Index"  asp-route-id=@Model.IdEmpresa class="btn btn-sm btn-outline-secondary form-control">Voltar</a>
                </div>
                <div class="col">
                    <input type="submit" value="Guardar" class="btn btn-sm btn-outline-secondary form-control" />
                </div>
            </div>
        </form>
    </div>
</div>