<div class="container">
  <app-loading *ngIf="!dividas"></app-loading>
  
  <div class="content">
    <h3>{{ title }}</h3>

    <mat-form-field appearance="fill">
      <mat-label>Selecione o período</mat-label>
      <mat-date-range-input [rangePicker]="picker" >
        <input matStartDate placeholder="Start date" #startDate>
        <input matEndDate placeholder="End date" #endDate (dateChange)="dateRangeChange(startDate, endDate)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  
  

  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="dividas"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle">
  </ngx-charts-bar-vertical>
  
</div>

