
@{
    ViewData["Title"] = "RecuperacaoPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="~/Images/7000.png" />
            </div>
            <div class="col-7 align-content-center">
                <br>
                <div class="container py-3">
                    <div class="row">
                        <div class="mx-auto col-sm-6">
                            <!-- form user info -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="mb-0">Recuperar Password</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="RecuperarPassword" method="post">
                                        <div class="form-group row">
                                            <label></label>
                                            <input class="form-control" />
                                        </div>
                                        <button type="submit" class="btn btn-primary my-color ">Enviar Email</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /form user info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>