@model Ciclope.Models.DividaSS
@using Ciclope.Services
@inject ICurrency Currency

@{
    ViewData["Title"] = "Divida SS";
}

<div class="row h-100">
    <partial name="_DisplaySideMenuPartial" for="EmpresaId"/>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">@ViewData["Title"]</h1>
        </div>
        <div class="d-md-flex">
            <div class="col-md-6">
                <p style="margin-left: 20px;">Data: @Model.Data.ToString("d")</p>
                <p style="margin-left: 20px;">Divida: @Currency.Format(Model.Divida)</p>
            </div>
        </div>
    </main>
</div>